body {
  margin: 0;
  background: #fefefe;
  min-width: 1024px;
}

@media all {
  /* sets the base font size for all user agents that support media queries */
  html {
    font-size: 14px;
  }
}

@font-face {
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-family: Merriweather, Lora, Roboto, sans-serif;
}
